.content {
    position: relative;
    height: 100%;
    overflow: hidden;
    .line {
      position: absolute;
      top: 0;
      left: 40px;
      bottom: 0;
      width: 3px;
      background: #EBEBEB;
    }
    .item {
      position:inline;
      z-index: 2;
      margin: 20px 30px 30px 70px;
      display: inline-block;
      &:hover {
        color: #5F98CD;
        cursor: pointer;
      }

    }
}