.content {
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-top: 2%;
    border: 4px black;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    a{
      text-decoration: none;
      color: black;
    }
    .card{
      float:left;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 300px;
    .item {
      flex: 2 1 60%;
      margin: 10px;
      &:hover {
        color: #5F98CD;
      }
    }
    }
}