.content {
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-top: 2%;
    border: 4px black;
    .item {
      padding: 20px 30px 30px 10px;
      display: inline;
      &:hover {
        color: #5F98CD;
      }
    }
}