.content {
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-top: 20%;
    .item {
      float: right;
      margin: 20px 30px 30px 70px;
      display: inline;
      border: 4px black;
      &:hover {
        color: #5F98CD;
        cursor: pointer;
      }
    }
}