.content {
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-top: 2%;
    border: 4px black;
    a{
      text-decoration: none;
      color: black;
    }
    .item {
      display: inline;
      &:hover {
        color: #5F98CD;
      }
    }
}